template(name='Details')
	.details
		with currentRecipe
			.recipe-image(style="background-image: url('!{this.img}');")
				.recipe-title
					h4
						| !{name}
			.recipe-banner.col-xs-12.text-center
				.col-xs-4
					h5
						| Ingredients
					| !{ingredients.length}
				.col-xs-4
					h5
						| Difficulty
					| !{difficulty}
				.col-xs-4
					h5
						| Time
					| 15 Minutes
			.recipe-banner2.col-xs-12.text-center
				.col-xs-6.ingredient-tab.dropdown-tab
					h4
						| Ingredients
				.col-xs-6.instruction-tab.dropdown-tab
					h4
						| Instructions
			.ingredients-wrapper.col-xs-12
				ul.ingredients-list
					each currentRecipe.ingredients
						li.ingredient-item.col-xs-12
							span.ingredient-amt.col-xs-1
								| !{this.amount} 
							span.ingredient-measurement.col-xs-3
								| !{this.measurement} 
							span.ingredient-name.col-xs-8
								| !{this.name}
			.instructions-wrapper.col-xs-12
				.instructions-header
					h4
						| Instructions
				p
					| !{instructions}