template(name='YourRecipes')
	.your-recipes
		.col-xs-12.wrapper
			h4.text-center
				span.fa.fa-star
				| Favorites
			each yourLists
				if yourRecipes
					.filter-item(section-name="!{this.visible}").col-xs-12
						h5.header
							| !{this.visible}
							span.pull-right.fa.fa-caret-down.dropdown
						.filter-list.col-xs-12
							if limitPages 'next'
								i.fa.fa-chevron-right.page-right(data-id="!{this.name}")
							if limitPages 'prev'
								i.fa.fa-chevron-left.page-left(data-id="!{this.name}")
							each yourRecipes
								.recipe-item.in-filter.col-xs-6(id="!{this._id}")
									+TestImage