template(name='RecipeItem')
	.col-xs-6.item-wrapper
		.recipe-item.col-sm-4(class="{{favorited}}" style="background-image: url('!{this.img}');" recipe-id="!{this._id}")
			.favorited.hidden
				| You just favorited!
			if planPage 'Recipes'
				.recipe-info
					i.fa.fa-leaf
			.recipe-name(recipe-id="!{this._id}")
				span.recipe-title(recipe-id="!{this._id}")
					| !{this.name}
			if planPage 'Recipes'
				.recipe-share
					i.fa.fa-heart
			if planPage 'Meal Plan'
				.remove-plan
					span.fa.fa-times.remove-plan-button