template(name='Shop')
	.shop.transitions-content(id="shopping")
		+MiniNav
		if aisles
			.smart-list.container
				table.table
					each aisles
						thead
							tr
								th
									img(src="!{this.icon}")
									| !{this.name}
						tbody
							each generateList
								tr
									td
										.checkbox
											label
												input(type="checkbox" value="")
												| !{this.amount} !{this.measurement} !{this.name}
										span.fa.fa-plus.pull-right