template(name='Shop')
	.shop.transitions-content(id="shopping")
		+MiniNav
		.smart-list.container
			table.table
				each generateList
					thead.aisle-header(aisle="!{this.name}")
						tr
							th
								img(src="!{this.name}.png")
								| !{this.display}
								span.pull-right.glyphicon.glyphicon-triangle-top
					tbody(aisle-list="!{this.name}")
						each this.ingredient
							tr.ingredient-header
								td
									.checkbox
										label
											input.ingredient-checkbox(ingredients="!{this.name}" type="checkbox" value="")
											span.ingredient-amt
												| !{this.amount} 
											span.ingredient-scale
												| !{this.scale} 
											span.ingredient-name
												| !{this.name}
									span.fa.fa-plus.pull-right.expand-ingredient
							each this.ingredients
								tr.contained-ingredients(ingredients="!{this.name}")
									td
										span.left-indent
										| !{this.amount}
										| !{this.scale}
										| for
										| !{recipeName}
				if gotIt
					thead.got-it(aisle="bakery")
						tr
							th
								img(src="bakery.png")
								| Got it!
								span.pull-right.glyphicon.glyphicon-triangle-bottom
					tbody.got-it-list(aisle-list="bakery" style="display: none;")
						each completedItems
							tr
								td
									.checkbox
										label
											input.got-it-checkbox(type="checkbox" value="")
											| !{this.amount} !{this.scale} !{this.name}
									span.fa.fa-plus.pull-right