template(name='Shop')
	.shop.transitions-content(id="shopping")
		+MiniNav
		.smart-list.container
			table.table
				each generateList
					thead(aisle="!{this.name}")
						tr
							th
								img(src="!{this.name}.png")
								| !{this.display}
					tbody(aisle-list="!{this.name}")
						each this.ingredient
							tr
								td
									.checkbox
										label
											input(type="checkbox" value="")
											| !{this.amount} !{this.scale} !{this.name} !{splitAisles}
									span.fa.fa-plus.pull-right